<!DOCTYPE html>

<html lang="en">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Javascraps</title>
	<script src="/static/js/jquery-2.0.0.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/todo.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span3 well">
		  <ul class="nav nav-pills nav-stacked">
			<li class="active">
			  <a href="#">Personal</a>
			</li>
			<li>
			  <a href="#">Work</a>
			</li>
		  </ul>
	      <!--Sidebar content-->
	    </div>
	    <div class="span9">
          %if defined('error'):
          <div class="alert alert-error">
            {{ error }}
          </div>
          %end
		  <div class="navbar">
			<div class="navbar-inner">
			  <form id="add-form" method="post" action="/" class="navbar-form pull-left span12">
				<input type="text" id="entry" class="span9" name="entry">
				<button type="submit" class="btn">Add Item</button>
			  </form>
			</div>
		  </div>
		  <div id="entry-well" class="well">
			<form id="items-form" method="post" action="/complete">
			  <fieldset>
				%if entries:
                    %if entries.pending:
                        %for item in entries.pending:
                          %include list.html item=item
                        %end
                    %end
                    %if entries.complete:
                        %for item in entries.complete:
                          %include list.html item=item
                        %end
                    %end
				%else:
				    <div id="empty-message" class="alert alert-info">
				      You have nothing to do yet. Get cracking.
				    </div>
				%end
			  </fieldset>
			  %if entries.pending:
              <div class="no-js">
                <hr />
                <p><button type="submit" class="btn btn-primary">Mark As Complete</button></p>
              </div>
			  %end
			</form>
		  </div>
          
	      <!--Body content-->
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="/static/js/todo.js"></script>
  </body>
</html>
